//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 30 20:21:49 2014
//! **************************************************************************

SCHEMATIC START;
COMP "a" LOCATE = SITE "T17" LEVEL 1;
COMP "b" LOCATE = SITE "T18" LEVEL 1;
COMP "c" LOCATE = SITE "U17" LEVEL 1;
COMP "d" LOCATE = SITE "U18" LEVEL 1;
COMP "e" LOCATE = SITE "M14" LEVEL 1;
COMP "f" LOCATE = SITE "N14" LEVEL 1;
COMP "g" LOCATE = SITE "L14" LEVEL 1;
COMP "sw_tones<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "sw_tones<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "sw_tones<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "sw_tones<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "sw_tones<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "sw_tones<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "sw_tones<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "sw_tones<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "JA<0>" LOCATE = SITE "T12" LEVEL 1;
COMP "JA<1>" LOCATE = SITE "V12" LEVEL 1;
COMP "JA<2>" LOCATE = SITE "N10" LEVEL 1;
COMP "JA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "LEDS_OUT<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LEDS_OUT<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LEDS_OUT<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LEDS_OUT<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LEDS_OUT<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LEDS_OUT<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LEDS_OUT<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LEDS_OUT<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
COMP "clock" LOCATE = SITE "V10" LEVEL 1;
COMP "reset" LOCATE = SITE "C9" LEVEL 1;
COMP "start" LOCATE = SITE "A8" LEVEL 1;
COMP "execute" LOCATE = SITE "B8" LEVEL 1;
COMP "record" LOCATE = SITE "C4" LEVEL 1;
SCHEMATIC END;

